# Dependencies
node_modules/

# Environment / secrets
.env
.env.*
!.env.example

# Next.js
web/.next/
web/out/
web/.vercel/

# Sanity
studio/dist/
studio/.sanity/

# Logs & OS
*.log
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
web/next-env.d.ts

# Misc
*.pem
.pnp
.pnp.*
